{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}注册 - register{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
        <h1 class="col-12 mt-4 mb-4">个人信息</h1>
            <div class="col-12">
                <br>
                <form method="post" action="." class="form">
                    {% csrf_token %}
                    {% bootstrap_form register_form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">注册</button>
                    {% endbuttons %}
                </form>
                <span style="color: #FF0000; ">{{ error_msg }}</span>
            </div>
        </div>
    </div>
{% endblock content %}