{% load static %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <!-- 网站标题 -->
    <title>{% block title %}{% endblock %}</title>
    <!--引入bootstrap的css-->
    <!--<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!--引入pygmentize的monokai.css，用于高亮代码-->
    <link rel="stylesheet" href="{% static 'highlight_css/monokai.css' %}">
</head>

<body>
    <!--导航栏-->
    {% include 'header.html' %}
    <!-- 预置的具体页面 -->
    {% block content %}{% endblock content %}
    <!-- 页脚 -->
    {% include 'footer.html' %}
    <!-- 注入jquery.js -->
    <!--<script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- CDN注入popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- 注入bootstrap的js文件 -->
    <!--<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>

</body>
</html>