{% load static %}
<!-- 页脚 -->
<div>
    <br><br><br>
</div>
<footer class="py-3 bg-dark" id="footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Gaozih 2020-2022|<a href="https://github.com/Gzh0821">Github</a></p>
        <p class="m-0 text-center text-white">使用|
            <a href="https://www.djangoproject.com">Django</a> |
            <a href="https://v4.bootcss.com/">Bootstrap</a> |
            <a href="https://pandao.github.io/editor.md/">Editor.md</a> |开源项目构建</p>
    </div>
</footer>
