
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <!-- 导航栏logo -->
        <a class="navbar-brand" href="{% url 'home' %}">项目测试</a>

        <!-- 导航栏入口 -->
        <div>
            <ul class="navbar-nav">
                <!-- 项目 -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article:show_article' %}">所有活动</a>
                </li>
                {% if user.is_authenticated %}
                    <!-- 如果用户已经登录，则显示用户名下拉框 -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'article:article_create' %}">新建活动</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.is_superuser %}<a class="dropdown-item" href='/admin'>后台管理</a>{% endif %}
                            <a class="dropdown-item" href='{% url "userprofile:userinfo" user.id %}'>个人信息</a>
                            <a class="dropdown-item" href="{% url "userprofile:logout" %}">退出登录</a>
                            <a class="dropdown-item" href="{% url "userprofile:delete" %}">删除用户</a>
                        </div>
                    </li>
                    <!-- 如果用户未登录，则显示 “登录” -->
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userprofile:login' %}">登录</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userprofile:register' %}">注册</a>
                    </li>
                    <!-- if 语句在这里结束 -->
                {% endif %}
            </ul>
        </div>

    </div>
</nav>
