{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ article.title }}-{{ article.author }}
{% endblock title %}

{% block content %}

    <!-- 文章详情 -->
    <div class="container">
        <div class="row">
            <!--文章部分-->
            <div class="col-9">
                <!-- 标题 -->
                <h1 class="mt-4 mb-4">{{ article.title }}</h1>
                <!-- 概述 -->
                <div class="">
                    <p>{{ article.overview }}</p>
                </div>
                <div class="alert alert-success">
                    <div>作者：{{ article.author }}</div>
                    {% if permission_grade > 0 %}
                        <div>
                            <a href="{% url 'article:article_update' article.id %}">编辑文章</a>
                            | <a href="javascript:void(0);" onclick="confirm_delete()">删除文章</a>
                        </div>
                    {% endif %}
                </div>
                <form
                        style="display:none;"
                        id="safe_delete"
                        action="{% url 'article:article_delete' article.id %}"
                        method="POST"
                >
                    {% csrf_token %}
                    <button type="submit">send</button>
                </form>
                <!-- 文章正文 -->
                <div class="">
                    <p>{{ article.text|safe }}</p>
                </div>
            </div>
            <!--目录部分-->
            <div class="col-3 mt-4">
                <h4><strong>目录</strong></h4>
                <hr>
                <div>
                    {{ toc|safe }}
                </div>
            </div>
        </div>
    </div>

    <script>
        // 删除文章的函数
        function confirm_delete() {
            // 调用layer弹窗组件
            layer.open({
                // 弹窗标题
                title: "删除文章",
                // 正文
                content: "是否删除文章：{{ article.title }} ？",
                // 弹出选项
                btn: ['确认', '取消',],
                // 点击确定按钮后调用的回调函数
                yes: function (index, layero) {
                    // 使JS点击不可见的按钮,执行表单的action
                    $('form#safe_delete button').click();
                    layer.close(index);
                },
                // 关闭窗口，并返回
                btn2: function () {
                    layer.closeAll();
                },
            })
        }
    </script>

{% endblock content %}