{% extends "base.html" %}
{% load static %}

{% block title %}
    首页
{% endblock title %}

<!--主页面-->
{% block content %}
    <div class="container">
        <div class="row mt-2">
            <!--列出每篇文章-->
            {% for article in articles %}
                <!-- 文章内容 -->
                <div class="col-4 mb-4">
                    <!-- 卡片容器 -->
                    <div class="card h-100">
                        <!-- 标题 -->
                        <h4 class="card-header">{{ article.title }}</h4>
                        <!-- 概述 -->
                        <div class="card-body">
                            <!--取出概述的前150字-->
                            <p class="card-text">{{ article.overview|slice:'100'|safe }}...</p>
                        </div>
                        <!-- 注脚 -->
                        <div class="card-footer">
                            <a href="{% url 'article:article_detail' article.id %}" class="btn btn-primary">阅读本文</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="pagination row">
            <div class="m-auto">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href="?page=1" class="btn btn-success">
                    &laquo; 1
                </a>
                <span>...</span>
                <a href="?page={{ articles.previous_page_number }}"
                   class="btn btn-secondary"
                >
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}"
                   class="btn btn-secondary"
                >
                    {{ articles.next_page_number }}
                </a>
                <span>...</span>
                <a href="?page={{ articles.paginator.num_pages }}"
                   class="btn btn-success"
                >
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
            </div>
        </div>
    </div>
{% endblock content %}