{% extends "base.html" %}
{% load static %}

{% block title %}
    首页
{% endblock title %}

<!--主页面-->
{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-auto mr-auto" style="width: 100%">
                <form class="form-inline">
                    <label class="sr-only">content</label>
                    <input type="text"
                           class="form-control mb-2 mr-sm-2"
                           name="search"
                           placeholder="搜索文章..."
                           style="width: 100%"
                    >
                </form>
            </div>
        </div>
        <br>
        {% if search %}
            {% if articles %}
                <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
            {% else %}
                <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
            {% endif %}
        {% endif %}
        <a href="{% url "home" %}">所有栏目</a>：
        {% for column in all_column %}
            <a href="{% url "article:show_article_with_column" column.id %}">
                <button type="button"
                        class="btn btn-sm mb-2
                        {% if now_column == column %}
                            btn-success
                        {% else %}
                            btn-danger
                        {% endif %}"
                >{{ column }}</button></a>
        {% endfor %}
        <hr>
        <div class="row mt-2">
            <!--列出每篇文章-->
            {% for article in articles %}
                <!-- 文章内容 -->
                <div class="col-12">
                    <!-- 栏目 -->
                    {% if article.column %}
                        <button type="button"
                                class="btn btn-sm mb-2 btn-warning"
                        >
                            {{ article.column }}
                        </button>
                    {% endif %}
                    <!-- 标题 -->
                    <h4>
                        <b>
                            <a href="{% url 'article:article_detail' article.id %}"
                               style="color: black; font-size: 125%"
                            >
                                {{ article.title }}
                            </a>
                        </b>
                    </h4>
                    <!-- 概述 -->
                    <div>
                        <!--取出概述的前150字-->
                        <p style="color: gray;">{{ article.overview|slice:'100'|safe }}...</p>
                    </div>
                    <!-- 注脚 -->
                    <p>
                        <!-- 附加信息 -->
                        <span style="color: blue;">
                                {{ article.created_time|date:'Y-m-d' }} 发布&nbsp;&nbsp;&nbsp;
                            </span>
                        <span style="color: darkred;">
                                {{ article.updated_time|date:'Y-m-d' }} 更新
                            </span>
                    </p>
                    <hr>
                </div>
            {% endfor %}

        </div>
        <div class="pagination row">
            <div class="m-auto">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href="?page=1&search={{ search }}" class="btn btn-success">
                    &laquo; 1
                </a>
                <span>...</span>
                <a href="?page={{ articles.previous_page_number }}&search={{ search }}"
                   class="btn btn-secondary"
                >
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}&search={{ search }}"
                   class="btn btn-secondary"
                >
                    {{ articles.next_page_number }}
                </a>
                <span>...</span>
                <a href="?page={{ articles.paginator.num_pages }}&search={{ search }}"
                   class="btn btn-success"
                >
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
            </div>
        </div>
    </div>
{% endblock content %}